.solutionsSection {
  padding: 5rem 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.sectionTitle {
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 2.5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 colunas */
  gap: 1.5rem; /* Espaçamento entre os cards */
}


/* --- Media Query para Telas Mobile --- */
@media (max-width: 768px) {
  .solutionsSection {
    padding: 4rem 0;
  }
  
  .grid {
    grid-template-columns: 1fr; /* 1 coluna */
  }

  .sectionTitle {
    text-align: center;
  }
}