.header {
  /* Estilos para o header fixo */
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  padding: 1rem 0;
  border-bottom: 1px solid #eaeaea;
  background-color: rgba(255, 255, 255, 0.9); /* Fundo com leve transparência */
  backdrop-filter: blur(10px); /* Efeito de vidro fosco */
  z-index: 1000; /* Garante que o header fique acima de tudo */
  transition: background-color 0.3s ease;
  height: 80px;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: .8rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Esconde o menu mobile por padrão */
.mobileMenuButton {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1001; /* Fica acima do container de navegação */
}

.mobileNavContainer {
  display: none;
}

/* --- Media Query para Telas Mobile (ex: abaixo de 768px) --- */
@media (max-width: 768px) {
  .desktopNav {
    display: none; /* Esconde a navegação desktop */
  }

  .mobileMenuButton {
    display: block; /* Mostra o botão do menu sanduíche */
  }

  .mobileNavContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    
    /* Estilo do container dropdown */
    position: absolute;
    top: 100%; /* Começa logo abaixo do header */
    left: 0;
    width: 100%;
    padding: 2rem 0;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
}