.button {   
  padding: 10px 20px;   
  border: none;   
  border-radius: 5px;   
  text-decoration: none;   
  font-weight: bold;   
  display: inline-block;   
  transition: background-color 0.3s ease;   
}

.button.primary {
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
}

.button.secondary {
  background-color: #ffffff;
  color: #0c0000;
  border: 2px solid #000000;
}

.button.primary:hover {
  background-color: #f0f0f0;
  color: #000;
  border: 2px solid #000;
  transform: translateY(-5px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

.button.secondary:hover {
  background-color: #178322;
  color: #fff;
  border: 2px solid #238a28;


}