.navigation {
  display: flex;
  gap: 2rem; /* Espaçamento entre os links */
}

.navLink {
  color: #333; /* Cor do texto */
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s ease-in-out;
}

.navLink:hover {
  color: #de407c; /* Cor ao passar o mouse */
}

@media (max-width: 600px) {
  .navigation {
    flex-direction: column;
    gap: 1rem; /* Espaçamento reduzido para telas menores */
  }
}